[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
numpy = "*"
wave = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.12"
